.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    }

    .middle {
    display: table-cell;
    vertical-align: middle;
    }

    .inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /* Whatever width you want */
    }

    #start{
        border-radius: 50%;
        background-color: #1c1c1c;
        width: 250px;
        height: 250px;
        cursor: pointer;
    }
            
    #parent_canvas{
        position: fixed;
        right: 15px;
        top: 15px;
        height: 200px;
        width: 250px;
        border: 10px solid #1c1c1c;
        border-radius: 5px;
        z-index: 9;
        cursor: move;
        display: none;
    }

    #alert_wrapper{
        display: none; 
        justify-content: center;
    }

    #ALERT{
        text-align: center;
        position: absolute;
        z-index: 200;
        margin-top: 10px;
        font-size: 26px;
        font-weight: bold;
        color: ghostwhite;
        /* background-color: rgba(92, 88, 88, 0.61); */
        background-color: #df6672;
        border-radius: 2px; 
        padding: 5px 15px;
    }