<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/page.css">

</head>
<body>

    <div id="alert_wrapper">
        <div id="ALERT">Here is the error message</div>
    </div>

    </div>

    <div class="outer" id="roll_table">
        <div class="middle">
          <div class="inner">
            <h1>POWERED BY AZYO</h1>
            <h3>Sample Examination 2023</h3>
            <p>Please fill up the required details!</p>
            <div class="row g-3 align-items-center card-body" id="roll_here">
                <div class="col-auto">
                    <label for="roll_no" class="form-label"><strong>Roll No:</strong> </label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="roll_no" rows="3"></input>
                </div>
                <div id="roll_req" style="color: red;"></div>
            </div>
            <div class="row align-items-center" style="padding: 2rem;">
                <img style="margin: auto;" id="start" src="/static/start_static.png" alt="start button spins on hover">
            </div>
          </div>
        </div>
    </div>
    
    <div id="main" style="display: none; margin: 10px;">
        <iframe id='client' src="http://localhost:5002/page_one/" height="800" width="100%" title="Iframe Example"></iframe>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="static/js/proctor.js"></script>
<script>
    const outer = document.getElementsByClassName('outer')[0]
    const main = document.getElementById('main')
    const start = document.getElementById('start')
    const roll_no_in = document.getElementById('roll_no');
    var roll_no = ''

    function on_alert(msg) {
        let x;
        clearInterval(x);
        document.getElementById("ALERT").innerHTML = msg
        if (document.getElementById("alert_wrapper").style.display != "flex"){
            document.getElementById("alert_wrapper").style.display = "flex"}
        x = setTimeout(2000, () => {
            document.getElementById("alert_wrapper").style.display = "none"
        })
    }

    var P = new Proctor({
        'views': {'parent': window, 'frame': document.getElementById('client').contentWindow},
        'controls': {'on_alert': on_alert},
    }, secret='6IsnQ8a2S9N6jIXd')

    start.addEventListener('click', ev => {
        if (roll_no === '') {
            document.getElementById('roll_req').innerHTML = "Roll number is required"
        }
        else {
            roll_no = roll_no_in.value
            ready = true
            outer.style.display = 'none';
            main.style.display = 'block';
            
            P.credentials = {'indentification': roll_no, 'session': 'Sample Examination 2021 Day 1'}
            P.start()

        }

        roll_no_in.style.border = '2px solid red'
    })

    roll_no_in.addEventListener('change', ev => {
        roll_no = roll_no_in.value
    })

    start.addEventListener('mouseenter', ev => {start.src = "/static/start.gif"})
    start.addEventListener('mouseleave', ev => {start.src = "/static/start_static.png"})
</script>

</html>