<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Page for Proctoring</title>

    <link rel="stylesheet" href="/static/css/page.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="heading">Sample Page 2 for Proctoring</h1>

                <h3>1. What is the capital of USA?</h3>
                <ol>
                    <li>Mumbai</li>
                    <li>Lakhnow</li>
                    <li>Delhi</li>
                    <li>Surat</li>
                </ol>
                <h3>2. What is the capital of USA?</h3>
                <ol>
                    <li>Mumbai</li>
                    <li>Lakhnow</li>
                    <li>Delhi</li>
                    <li>Surat</li>
                </ol>
                <h3>3. What is the capital of USA?</h3>
                <ol>
                    <li>Mumbai</li>
                    <li>Lakhnow</li>
                    <li>Delhi</li>
                    <li>Surat</li>
                </ol>
                <h3>4. What is the capital of USA?</h3>
                <ol>
                    <li>Mumbai</li>
                    <li>Lakhnow</li>
                    <li>Delhi</li>
                    <li>Surat</li>
                </ol>
                <h3>5. What is the capital of USA?</h3>
                <ol>
                    <li>Mumbai</li>
                    <li>Lakhnow</li>
                    <li>Delhi</li>
                    <li>Surat</li>
                </ol>
                <h3>6. What is the capital of USA?</h3>
                <ol>
                    <li>Mumbai</li>
                    <li>Lakhnow</li>
                    <li>Delhi</li>
                    <li>Surat</li>
                </ol>
            </div>
        </div>
        <a href="/static/templates/client_page_2.html" class="btn btn-primary" role="button">Previous</a>
        <a href="/static/templates/client_page_4.html" class="btn btn-primary" role="button">Next Page</a>
    </div>
    <script>
    </script>
</body>
</html>