<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frame 1</title>

    <script defer src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>  

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_detection@0.3.1620080281/face_detection.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <button id="start" type="button">Start</button>
    <div class="container" style="position: fixed; top: 5px; right: 5px; z-index: 10;">
        <video id="input_video"></video>
        <div id = "debug_out"></div>
    </div>
</body>
<script src="/static/Proctoring/head_change.js"></script>
<script src="/static/Proctoring/tab_change.js"></script>
<script src="/static/Proctoring/control.js"></script>

</html>