<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Page</title>
    <style>
        #parent_canvas{
            position: fixed;
            right: 5px;
            top: 5px;
            height: 250px;
            width: 200px;
        }
    </style>
</head>
<body>
    <iframe src="/static/templates/frame1.html" height="30" width="100%" title="Iframe Example"></iframe>
    <iframe src="/static/templates/client_page_1.html" height="800" width="100%" title="Iframe Example"></iframe>
    <canvas id = "parent_canvas" height="640" width="480"></canvas>
</body>
</html>