<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Page</title>
</head>
<body>
    <iframe src="/static/templates/frame1.html" height="30" width="100%" title="Iframe Example"></iframe>
    <iframe src="/static/templates/frame2.html" height="800" width="100%" title="Iframe Example"></iframe>
    <div class="container" style="position: fixed; top: 5px; right: 5px; z-index: 10;">
        <video class="input_video"></video>
        <div id = "debug_out"></div>
    </div>
</body>
</html>