<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <style>
        #roll_list {
            border: 2px solid black;
        }

        #roll_list_row {
            min-height: 25rem;
            max-height: 25rem;
            height: 25rem;
            background-color: #e2e1e1;
        }

        #roll_list_out {
            min-height: 25rem;
            max-height: 25rem;
            height: 25rem;
            background-color: #1c1c1c;
        }

        #roll_list_out *{
            background-color: #e2e1e1;
            
        }

        .roll {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="row" id="roll_list_row">
            <div class="col">
                <table id="roll_list" class="table table-hover">
                    <thead>
                        <th scope="col">ID</th>
                        <th scope="col">Roll No</th>
                        <th scope="col">Overall</th>
                    </thead>
                    <tbody>
                        {% for val in value['penalties'].keys() %}
                        <tr>
                            <th scope="row">{{value['penalties'][val]['index']}}</th>
                            <td class="roll">{{val}}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{value['penalties'][val]['overall']}}%" aria-valuenow="{{50}}" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </td>`
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </table>

        <div class="row" id="roll_list_out">
            <div class="col-4">
                <table id="roll_list" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Penalty</th>
                        </tr>
                    </thead>
                    <tbody id="roll_out_body">
                    </tbody>
                </table>
            </div>
            <div class="col-8">
                <div style="text-align: center;">
                    <h3>Penalties</h3>
                    <div id="d3-container" />
                  </div>
            </div>
        </div>

    </div>

</body>

<script>
    const roll_out = document.getElementById("roll_list_out")
    const rolls = document.getElementsByClassName("roll")
    const roll_out_body = document.getElementById("roll_out_body")

    var data = {{ value | tojson }};
    // console.log(data)


    Array.from(rolls).forEach(el => {
        el.addEventListener('click', ev => {
            // console.log(el.innerHTML)
            get_table_body(el.innerHTML)
        })
    })

    function get_table_body(for_no) {
        roll_out_body.innerHTML = ""
        
        var type_1 = data['penalties'][for_no]['type 1']
        var type_2 = data['penalties'][for_no]['type 2']

        var f_type = Object.assign({}, type_1, type_2);

        get_data_graph(f_type)

        for (var key in type_1) {
            // console.log(key, type_1[key])

            var tr = document.createElement('tr')
            tr.innerHTML = 
            `<td> `+ key +`</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: `+type_1[key]+`%" aria-valuenow="`+type_1[key]+`" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </td>`
            roll_out_body.appendChild(tr)
        }

        for (var key in type_2) {
            // console.log(key, type_2[key])

            var tr = document.createElement('tr')
            tr.innerHTML = 
            `<td> `+ key +`</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: `+type_2[key]+`%" aria-valuenow="`+type_2[key]+`" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </td>`
            roll_out_body.appendChild(tr)
        }
    }

    
</script>

<script type="text/javascript" src="/static/Proctoring/grapher.js"></script>
</html>